/* Reset */
*{
	padding: 0em;
	margin: 0em; 
}
input, textarea, select, a { outline: none; }

/* Main styles */
body{  
    text-align: center;
	font-family: monospace; 
    font-size: 60px;
	font-weight: bold; 
    color: rgba(1,186,155,1);
    background-color: rgba(238,236,108,1);
}
#container{
    background: rgba(1,186,155,1); 	
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	margin: 0em;
	padding: .5em;
	text-align: left;
	max-height: 5em;
	margin-top: 1em;
    margin-bottom: 1em;
}
a{
    color: rgba(1,186,155,1);
    background-color: rgba(238,236,108,1);
    padding-left: .1em;
}
a:hover{
	background: rgba(1,186,155,1);
	color: rgba(238,236,108,1);
	text-decoration: none;
}
.sentence{
	font-family: monospace;
    background: rgba(1,186,155,1);
    color: rgba(238,236,108,1);
}
input{
	background-color: rgba(1,186,155,1); 
	font-size: 1em; 
	border: none;
	width: auto;
}
#button{
	font-weight: bold; 
}
#button:hover{
	background: rgba(238, 236, 108, 1);
	color: rgba(1, 186, 155, 1);
	text-decoration: none;
}
#number:focus, #message:focus{
	background-color: thin rgba(238,236,108,1) solid;
	outline: none;
}
/* Device and browser-specific hacks. :( */
*{ /* Prevent iPhone from styling button and rounding corners. */
    -webkit-appearance:none;
	border-radius: 0px;
}
::-webkit-input-placeholder { /* Styles the placeholder text in Chrome and Safari*/
   color: rgba(238,236,108,.5);
}
:-moz-placeholder { /* Styles the placeholder text in Firefox 18- */
   color: rgba(238,236,108,1);
}
::-moz-placeholder { /* Styles the placeholder text in Firefox 19+ */
   color: rgba(238,236,108,1);
}
:-ms-input-placeholder { /* Styles the placeholder text in IE*/ 
   color: rgba(238,236,108,.5);
}